@font-face {
    font-family: 'font';
    src: url('../font/font.ttf');
}

@media (min-width: 1200px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 0px) {
    html {
        font-size: 7px;
    }
}

@media (max-height: 880px) {
    html {
        font-size: 7px;
    }
}

@media (max-height: 780px) {
    html {
        font-size: 6px;
    }
}

@media (max-height: 680px) {
    html {
        font-size: 5px;
    }
}


.img {
 height: 10rem;
 width: 10rem;
}

.img:hover {
  cursor: pointer;
}

.nav-box {
  min-height: 100%;
  width: 8%;
  display: inline-flex;
  flex-direction: column;
  position: fixed;
}
.nav-box > a {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.nav > a {
  padding: 3rem;
}
.nav > a:nth-child(2) {
  background: #f43333;
}
.nav > a:nth-child(3) {
  background: #b04040;
}
.nav > a:nth-child(4) {
  background: #f43333;
}
.nav > a:nth-child(5) {
  background: #b04040;
}
.nav > a:nth-child(6) {
  background: #f43333;
}
.nav > a h1, .nav > a h2 {
  margin: 0 0 0.2rem 0;
}
.nav > a p {
  margin: 0;
}

.bounce {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bounce:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #972828;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.bounce:hover, .bounce:focus, .bounce:active {
  color: white;
}
.bounce:hover:before, .bounce:focus:before, .bounce:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#myProgress {
  position: relative;
  max-width: 50rem;
  height: 12px;
  background-color: white;
  padding: 4px;
  border-radius: 25px;
  margin: 0 auto;
}

#myBar {
  height: 100%;
  width: 0%;
  background-color: #006400;
  border-radius: 25px;
}

#myBar2 {
  height: 100%;
  width: 0%;
  background-color: #AA0000;
  border-radius: 25px;
}

#myBar3 {
  height: 100%;
  width: 0%;
  background-color: #AAAA00;
  border-radius: 25px;
}

#myBar4 {
  height: 100%;
  width: 0%;
  background-color: #AA4400;
  border-radius: 25px;
}

#myBar5 {
  height: 100%;
  width: 0%;
  background-color: #444400;
  border-radius: 25px;
}

#label {
  text-align: center;
  font-family: font;
  color: white;
}

#middle{
    overflow: auto;
    flex:1;
    display: block;
    flex-direction: column;
}

#footer{
    overflow: auto;
    text-align: center;
}

#background {
  background-image: url("../img/background.jpg");
  background-repeat:no-repeat;
  background-position:center;
}

#center {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.contain{
  position: relative;
}

.top {
  position: relative;
  z-index: 1;
  border-radius: 9rem;
  height: 24rem;
  width: 24rem;
  padding: 3rem;
}



.body, html, body {
  height: 100%;
  margin: 0;
  padding:0;
}

hr {
	width: 12%;
}

a, p{
    font-family: 'font';
    font-size: 200%;
    text-decoration: none;
    display: block;
    color: white;
    text-shadow: 1px 2px 3px black;
}

h1 {
  font-family: 'font';
  font-size: 350%;
  font-weight: 70000;
  text-decoration: none;
  display: block;
  color: white;
  text-shadow: 1px 2px 3px black;
}

.brii
{
  font-size: 120%;
}

h2 {
  font-family: 'font';
  font-size: 200%;
  text-decoration: none;
  display: block;
  color: white;
  text-shadow: 1px 2px 3px black;
}

a:hover {
    text-decoration: none;
}

.parallax {
    /* The image used */
    background-image: url("../img/game1.png");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("../img/game2.png");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxmid{
color: #777;
background-color:white;
text-align:center;
padding:10px 80px;
text-align: justify;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #54778e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 92px;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 56px;
    margin-left: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




.button {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #67C1D5;
  margin-bottom: 15px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #666;
}

.button:hover {background-color: #5EB0C3}

.button:active {
  background-color: #54BBD2;
  box-shadow: 0 5px #111;
  transform: translateY(4px);
}

.text {
    padding: 20rem;
    text-align: center;
}

.inside {
  padding: 5em;
  height:190px;
  text-align: center;
}

.inside > a:nth-child(1) {
  background: #B2B473;
}
.inside > a:nth-child(2) {
  background: #54778e;
}
.inside > a:nth-child(3) {
  background: #65BF65;
}
.inside > a:nth-child(4) {
  background: #CC9C0A;
}



/*
--------------------

 IMAGE

--------------------
 */



.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    height: 80%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    font-family: font;
    font-size: 40px;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    left: 40rem;
    color: #f1f1f1;
    font-size: 56px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
